@import "../variables.scss";

.node-input-wrapper {
  position: absolute;
  top: calc(50% - 3.5px);

  left: -3.5px;
  width: 3.5px;
  height: 7px;
  box-sizing: border-box;
  border-radius: 7px 0px 0px 7px;
}

.socket-state-highlight {
  outline: solid thick hotpink;
}

.socket-state-potential {
  outline: solid thick green;
}

.socket-state-middle {
  outline: solid thick orangered;
}
