#settings-wrapper {
  position: absolute;

  height: 100%;
  width: 100%;

  z-index: 100;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.settings-visible {
    opacity: 1;
    pointer-events: all;
  }

  @include themify($themes) {
    background-color: themed('backgroundColor');
  }
}
