@import './themes.scss';

// Basic styling
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

:root,
input {
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Oxygen-Sans', Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body {
  margin: 0px;
  overflow: hidden;
  padding: 0px;

  display: grid;
  grid-template-rows: 50px 1fr;
}

main,
header {
  @include themify($themes) {
    outline: solid themed('outlineColor') thin;
    background-color: themed('backgroundColor');
  }
}

header {
  padding: 5px;
}

#nodesystem-view {
  @include themify($themes) {
    border-left: solid themed('outlineColor') thin;
  }
}

// Typography

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h4 {
  font-weight: 400;
}

// Other stuff

canvas {
  image-rendering: optimizeSpeed;
}

p#version {
  @include themify($themes) {
    color: themed('textColor');
  }
}

.node-wrapper {
  background: linear-gradient(145deg, #232323, #1e1e1e) !important;
  box-shadow: 8px 8px 20px #1919192f, -8px -8px 20px #2929293d !important;
}

#debug-pd {
  position: absolute;
  right: 0;
  top: 0;
  white-space: pre-wrap;
}

.component {
  outline: solid 1px;
  height: 100%;
  @include themify($themes) {
    outline-color: themed('outlineColor');
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;

  @include themify($themes) {
    border-color: themed('outlineColor');
  }
  border-radius: $border-radius;
}

input:disabled {
  color: #ccc;
}

input[type='range'] {
  height: 0;
}
button:focus {
  border-color: #666;
}

.button-icon {
  > svg {
    height: 40px;
    width: 40px;
  }

  > img {
    height: 100%;
  }
}

.align-right {
  position: absolute;
  right: 5px;
}

#sidebar {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;

  border-left: solid thin;
  @include themify($themes) {
    border-color: themed('outlineColor');
  }
}

#canvas-wrapper {
  height: 100%;
  > canvas {
    width: 100%;
    height: 100%;
  }
}

#version {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 99;
  display: inline;
  color: white;
}

// Style scrollbar
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  margin-right: 5px;
  @include themify($themes) {
    background: themed('foregroundColor');
  }
  border-radius: $border-radius;
}

button.active {
  background-color: $light-green !important;
}

button.active > p {
  color: $dark-gray !important;
}

button.active > .icon-wrapper > svg > * {
  stroke: $dark-gray !important;
}

button > .icon-wrapper > svg {
  stroke-width: 5px;
}

.projects-icon.active {
  border-radius: 5px 5px 0px 0px !important;
}

.projects-icon::after {
  position: absolute;
  content: '';
  opacity: 0;
  right: -25px;
  bottom: 0px;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  box-shadow: -10px 10px 0px -5px #65e2a0;
}
.projects-icon.active::after {
  opacity: 1;
}

// Icon styles
svg {
  height: 100%;
  stroke-width: 1.5px;
  fill: none;
  transition: stroke 0.3s ease;
  @include themify($themes) {
    stroke: themed('textColor');
  }
}
.only-icon {
  width: 40px;
  padding: 5px;
  margin-bottom: -1px !important;
  color: transparent !important;
}
.only-icon::before {
  left: 7px;
}
