$dark-gray: #303030;
$medium-gray: #4b4b4b;
$light-gray: #cccccc;

$dark-green: #337150;
$light-green: #65e2a0;
$light-red: #e26565;

$border-radius: 2px;

$green-gradient: linear-gradient(45deg, $dark-green, $light-green);

$transition-rubber: cubic-bezier(0.8, 0.2, 0.2, 0.8);

$themes: (
  dark: (
    backgroundColor: #303030,
    foregroundColor: $medium-gray,
    outlineColor: #212121,
    textColor: #fff,
    shadow: 0px 0px 2px rgba(0, 0, 0, 0.7),
    disabledOpacity: 0.5,
    tabActive: white,
    topBarBackground: transparent,
    topBarColor: white,
  ),
  light: (
    backgroundColor: white,
    foregroundColor: #b3b3b3,
    outlineColor: $light-gray,
    textColor: #707070,
    shadow: 0px 0px 5px rgba(0, 0, 0, 0.144),
    disabledOpacity: 0.3,
    tabActive: $light-gray,
    topBarBackground: rgba(83, 83, 83, 0.212),
    topBarColor: white,
  ),
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
